:root {
    --blurple: #7289DA;
    --discorddark: #23272A;
    --discordlight: #2C2F33;
    --coolblack: #0c0c0c;
    --grey-textchannel: #8e9297;
    --textareablack: #070707;
    --textnormal: #dcddde;
    --button: #677bc4;
    --discordNormalColor: #36393f;
    --inputbackground: #2C2F33;
    --bordercolor: #040405;
    --greytext: #b9bbbe;
    --lightgreytext: #72767d;
    --error: #f04747;
}